/*default styles below:*/

:root {
  --white: rgb(253, 250, 247);
  --dark-white: rgb(249, 243, 238);
  --black: rgb(26, 26, 40);
  --grey: rgb(128, 127, 119);
  --light-grey: rgb(157, 157, 150);
  --blue: rgb(26, 26, 82);
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter Tight";
}

* {
  color: var(--grey);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--black);
  transition: 0.5s ease-out;
  cursor: crosshair;
}

button {
  background-color: var(--light-grey);
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  margin-right: 1px;
}

button:hover {
  background-color: var(--black);
  color: var(--white);
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  cursor: crosshair;
}
body {
  background-image: linear-gradient(var(--white), var(--dark-white));
  width: 100vw;
  height: 100%;
  display: table;
}

body > header {
  position: fixed;
}

/*Header element styles:*/
header {
  width: 100vw;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--white);
  z-index: 10;
  transition: all 0.15s linear;
}

header.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/*.dark-mode-wrapper {
  max-width: 40px;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.dark-mode-wrapper img {
  max-width: 100%;
  width: auto;
  height: auto;
}*/

.logo {
  height: 8rem;
  width: auto;
  margin: auto;
}

.logo img {
  height: 100%;
  filter: contrast(30%) brightness(110%) saturate(0%);
  transition: 0.5s;
}

.logo img:hover {
  transform: scale(1.1);
  filter: contrast(100%) brightness(100%) saturate(100%);
}

nav {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
}

.nav-left li {
  padding: 0.7rem;
}

li {
  display: flex;
  align-items: baseline;
  margin: 0 6rem;
}

.nav-animation {
  display: inline-block;
  position: relative;
}

.nav-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.nav-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-animation:hover {
  color: var(--black);
}

/*Main styles:*/
main {
  width: 90%;
  margin: auto;
  margin-top: 14rem;
}

p {
  font-size: 1.25rem;
  text-indent: 3rem;
  line-height: 2.5rem;
}

#intro {
  width: 50%;
  margin: auto;
}

h1 {
  color: var(--blue);
  text-align: center;
  font-size: 5rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

.social-container {
  width: 55%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-item {
  width: auto;
  display: flex;
}

.social-item img {
  width: 100%;
  filter: contrast(30%) brightness(110%) saturate(0%);
  transition: 0.5s;
  margin: 0;
}

.social-item img:hover {
  transform: scale(1.2);
  filter: contrast(100%) brightness(100%) saturate(100%);
}

.main-section {
  border-top: 1px solid var(--light-grey);
  width: 80%;
  margin: 2rem auto;
}

.about-text {
  width: 100%;
}

.about-text p {
  text-align: justify;
}

.headshot {
  width: 30%;
  float: right;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 0;
}

.headshot img {
  max-width: 100% !important;
  width: auto;
  height: auto;
  transition: 0.5s;
}

/*.headshot img:hover {
  transition: 0.5s;
}*/

#expertise p {
  text-align: center;
  text-indent: 0;
}

.expertise-content {
  display: flex;
  flex-flow: column;
  font-size: 1.25rem;
  text-align: center;
  line-height: 2.5rem;
}

.expertise-row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.expertise-item {
  max-width: 100px;
  width: auto;
  height: auto;
}

.expertise-item img {
  max-width: 100%;
  transition: 0.5s;
}

.expertise-item img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

#contact p {
  text-align: center;
  font-size: 1.25rem;
}

.contact-me {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
}

input {
  height: 3rem;
}

textarea {
  height: 9rem;
}

input,
textarea {
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  margin: 20px auto;
}

#submit {
  width: 50%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 300;
}

#resume {
  border-top: 1px solid var(--light-grey);
  width: 80%;
  margin: 2rem auto;
}

iframe {
  border: none;
  padding: 0;
}
footer {
  display: table-row;
  text-align: center;
  height: 4rem;
  background-color: var(--dark-white);
}

h4 {
  font-weight: 300;
}

footer p {
  font-size: 0.75rem;
  color: var(--grey);
  font-weight: 100;
}

@media only screen and (max-width: 1080px) {
  :root {
    font-size: 12px;
  }

  nav {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  #intro {
    width: 90%;
    margin: auto;
  }

  .headshot {
    display: none;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .main-section {
    width: 90%;
  }

 .expertise-row {
  width: 100%;
 }

 .expertise-item img:hover {
  transform: scale(1);
 }

 #contact p {
  text-indent: 0;
}

.contact-me {
  width: 100%;
}

  
}
